/*Decalaration des variabes*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-background: #f5f5f6;
$color-footer: #313132;


/*Declaration des mixin*/
@mixin textroboto {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

@mixin titlepolice {
    font-family: "Shrikhand", Tahoma, Verdana, sans-serif;
}

@mixin boxshadow($color: $color-background) {
    box-shadow: 2px 4px 5px 3px darken($color, 10%);
}

/*GENERAL*/

body {
    background-color: $color-white;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    @include textroboto;
}
/*Loading spinner*/
.loading{
    background-color: $color-background;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: turnoff 3S ease forwards;
}
@keyframes turnoff{
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}
.loading_title{
    font-size: 2.5rem;
    color: $color-footer;
    margin-bottom: 10px;
    
}
.loading_spinner{
    width: 100px;
    height: 100px;
    border-radius: 80%;
    border: 5px dashed $color-primary;
    border-top: none;
    animation: rotate 2s ease infinite;
}
@keyframes rotate{
    to{
        transform: rotate(90deg);
    }
}

.header {
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50%;
    }
}

/* Au passage de la souris sur le bouton le curseur change de forme*/

/* Pied de page */
.footer {
    padding: 40px 15px;
    background-color: $color-footer;
    color: $color-white;
}
.footer_logo {
    filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(337deg) brightness(111%) contrast(107%);
}
.footer_menu {
    display: flex;
    text-align: center;
    align-items: center;
    i {
        margin-right: 20px;
    }
    .fa-handshake {
        margin-right: 13px;
    }
    p {
        cursor: pointer;
    }
}
.legal {
    cursor: pointer;
}
.contact {
    color: $color-white;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

/*Page d'accueil*/
/*Présentation de la localisation du restaurant*/
.adress {
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    p {
        font-size: 1rem;
        @include textroboto;
        margin-left: 10px;
    }
}
/*Premiere section : Présentation de l'entreprise*/

.presentation {
    background: $color-background;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 35px;

    &_heading {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.1rem;
    }
    /*Bouton Explore our restaurants*/
    .btn {
        padding: 10px 20px;
        font-size: 1.1rem;
        color: $color-white;
        background: rgb(255, 121, 218);
        background: linear-gradient(135deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
        border: none;
        border-radius: 20px;
        margin: 10px auto 30px auto;
        font-size: 1.1em;
        @include boxshadow;
        cursor: pointer;
        &:hover {
            background: darken(rgb(255, 121, 218), 0.35);
        }
    }
}

/*Deuxième sections : Explications de la plateform*/
.section_explication{
    padding: 0 5%;
    .explication-heading{
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    &_container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
  
    &_items{
        display: flex;
        margin-bottom:20px;
        align-items: center;
        padding: 10px;
        border-radius:20px;
        @include boxshadow;
        position: relative;
        background-color: #f2f2f2;
        height: 60px;
        width: 25%;
        cursor: pointer;
        &:hover{
            background-color: rgba(147, 86, 220, 0.20);;
        }
        .fa-mobile-alt, .fa-list-ul, .fa-store{
            margin-left: 20px;
            margin-right: 20px;
            color: grey;
        }
        .fa-store{
            color: $color-primary;
        }
        .fa-circle{
            position: absolute;
            font-size: 1.3rem;
            left: -11px;
            color: $color-primary;;
        }
        .number{
            position: absolute;
            left: -5px;
            color: white;
        }
        p{
            font-weight: bolder;
        }
    }

}
/*Troisième sections : Liste des restaurants*/
.restaurants {
    background-color: $color-background;
    padding: 0 10px;
    position: relative;
    &_title {
        font-size: 1.5rem;
        padding-top: 40px;
        margin-bottom: 20px;
        margin-left: 20px;
        align-self: flex-start;
    }
    &_heading {
        text-decoration: none;
    }
  
    &_menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;
        @include boxshadow($color-background);
        background: $color-white;
        border-radius: 25px;
    }
    &_new {
        position: absolute;
        right: 15px;
        padding: 5px 20px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 45%);
        border-radius: 2px;
    }
    &_item {
        height: 55px;
        width: 100%;
        margin-bottom: 25px;
        padding-left: 20px;
        justify-content: space-between;
        line-height: 50%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        a{
            text-decoration: none;
            color: #000000;
            //animation des cases restaurants au survol
            &:hover {
                cursor: pointer;
            }
        }
        .fas.fa-heart{
            font-size: 1.7rem;
            position: absolute;
            background: -webkit-linear-gradient(bottom, $color-secondary, $color-primary);
            background-clip: content-box;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            right: 18px;
            top: 20px;
            &:hover{
                opacity: 1;
            }
        }
        .far.fa-heart{
            font-size: 1.7rem;
            opacity: 1;
            right: 18px;
            top: 20px;
            position: relative;
            &:hover{
                opacity: 0;
            }
        }

    }
}
.restaurants_picture {
    height: 200px;
    width: 100%;
    border: 0px solid;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    display: block;
}


/*Présentation des 4 menus*/
.return {
    color: black;
    font-size: 1.4rem;
    position: absolute;
    left: 5%;
}
.background_picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
    &.palette {
        background-image: url("../images/the_full_palette.jpg");
    }
    &.bastille {
        background-image: url("../images/bastille.jpg");
    }
    &.enchanted {
        background-image: url("../images/the_enchanted_plate.jpg");
    }
    &.gourmand {
        background-image: url("../images/le_gourmand.jpg");
    }
}
.menu_container {
    background-color: $color-background;
    padding: 5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
}
.name_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    .heading {
        font-size: 1.5rem;
        @include titlepolice;
    }
    .coeur{
        position: relative;
        .far.fa-heart{
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                opacity: 0;
            }
        }
    }
    .fas.fa-heart{
        position: absolute;
        font-size: 1.7rem;
        cursor: pointer;
        left: -2px;
        top: -2px;
        background: -webkit-linear-gradient(bottom, $color-secondary, $color-primary);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
}
.title {
    font-size: 1.3rem;
    font-weight: normal;
    display: inline-block;
    &:after {
        content: "";
        display: block;
        width: 50%;
        height: 4px;
        background-color: $color-tertiary;
    }
}
.menu_btns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.menu_btn {
    margin-top: 15px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: white;
    border: none;
    border-radius: 15px;
    @include boxshadow;
    overflow: hidden;
    cursor: pointer;
    &:hover .menu_btn_animation {
        animation: largeur 1s ease forwards;
    }
    &:hover .menu_btn_animation i {
        animation: rotate 1s ease forwards;
        opacity: 1;
    }
    &_plat {
        width: 70%;
        padding: 10px;
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .food {
            font-weight: 700;
        }
    }
    &_prices {
        font-weight: 500;
        padding: 5px 5px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 30%;
    }
    &_animation {
        background-color: $color-tertiary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        height: 100%;
        width: 0%;
        border-radius: 0 15px 15px 0;
        i {
            opacity: 0;
            color: $color-white;
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes largeur {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}
//animation pour les plats des menus
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
.menu_btn:nth-child(1) {
    animation: apparition 1s ease both;
    animation-delay: 0.2s;
}
.menu_btn:nth-child(2) {
    animation: apparition 1s ease both;
    animation-delay: 0.4s;
}
.menu_btn:nth-child(3) {
    animation: apparition 1s ease both;
    animation-delay: 0.6s;
}
.menu_btn:nth-child(4) {
    animation: apparition 1s ease both;
    animation-delay: 0.8s;
}
.btn_line {
    display: flex;
    justify-content: center;
}
.btn_order {
    background: linear-gradient(135deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
    font-size: 1.1rem;
    padding: 15px 60px;
    border: none;
    border-radius: 20px;
    color: $color-white;
    @include boxshadow;
    cursor: pointer;
    &:hover {
        @include boxshadow;
        filter: brightness(1.1);
    }
}
/*Media*/
@media screen and (max-width:600px){
    .section_explication_container{
        flex-direction: column;
    }
    .section_explication_items{
        width: 90%;
    }
}