@charset "UTF-8";
/*Decalaration des variabes*/
/*Declaration des mixin*/
/*GENERAL*/
body {
  background-color: #FFF;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  max-width: 320px;
  line-height: 1.5;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

h1, h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1em;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 50%;
}

/*Bouton Explore our restaurants*/
.btn {
  padding: 10px 20px;
  color: #FFF;
  background: #ff79da;
  background: linear-gradient(135deg, #ff79da 0%, #9356dc 100%);
  border: none;
  border-radius: 20px;
  margin: 10px auto 30px auto;
  width: 60%;
  text-align: center;
  font-size: 1.1em;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  -webkit-box-shadow: 2px 4px 5px 3px #dadade;
          box-shadow: 2px 4px 5px 3px #dadade;
  position: relative;
  z-index: 2;
}

.btn:hover {
  background: #ff77da;
}

/* Au passage de la souris sur le bouton le curseur change de forme*/
/* Pied de page */
.footer {
  background-color: #313132;
  color: #FFF;
  padding-bottom: 10px;
}

.footer_heading {
  font-weight: normal;
  font-size: 1.3em;
  padding-left: 10%;
  padding-top: 8%;
  margin-top: 0;
  font-family: "Shrikhand", Tahoma, Verdana, sans-serif;
}

.footer_menu {
  list-style-type: none;
  line-height: 25px;
  padding-left: 10%;
  font-weight: bold;
}

.footer_menu a {
  text-decoration: none;
  color: #cdcdd2;
}

.footer_menu a:hover {
  color: #9356DC;
}

.fa-utensils, .fa-handshake {
  color: #FFF;
  margin-right: 10px;
}

/*Page d'accueil*/
/*Premiere section : Présentation et lcoalisation de l'entreprise*/
.presentation {
  background: #F5F5F6;
  text-align: center;
  padding-bottom: 30px;
}

.presentation_address {
  background: #ededef;
  font-size: 1.1em;
  margin: 0 0 20px 0;
  padding: 10px 0 10px 0;
}

.presentation_address i {
  margin-right: 12px;
}

.presentation_heading {
  margin: 40px 50px 10px 50px;
}

.presentation_line {
  font-size: 1.2em;
  margin: 10px 15px 30px 15px;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

/*Deuxième sections : Explications de la plateform*/
.explication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10%;
}

.explication_heading {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

.explication_items {
  -webkit-box-shadow: 2px 4px 5px 3px #dadade;
          box-shadow: 2px 4px 5px 3px #dadade;
  position: relative;
  padding: 10%;
  border-radius: 25px;
  margin-bottom: 10%;
  font-size: 1rem;
  background-color: #F5F5F6;
}

.explication_items:hover {
  cursor: pointer;
}

.explication_number {
  position: absolute;
  left: -5px;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  padding: 4px 8px 4px 8px;
  font-size: 0.8rem;
}

.explication_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explication_items:hover {
  background: rgba(147, 86, 220, 0.15);
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: grey;
}

.fa-store {
  color: #9356DC;
}

p {
  font-weight: 500;
}

/*Troisième sections : Liste des restaurants*/
.restaurants {
  background-color: #F5F5F6;
  padding: 0 10px;
  position: relative;
}

.restaurants_title {
  font-size: 1.5rem;
  padding-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.restaurants_heading {
  text-decoration: none;
}

.restaurants_new {
  position: absolute;
  right: 15px;
  padding: 5px 20px;
  background-color: #99E2D0;
  color: #217460;
  border-radius: 2px;
}

.restaurants_menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 4px 5px 3px #dadade;
          box-shadow: 2px 4px 5px 3px #dadade;
  background: #FFF;
  border-radius: 25px;
}

.restaurants_item {
  height: 55px;
  width: 100%;
  margin-left: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurants_item a {
  text-decoration: none;
  color: #000000;
}

.restaurants_item a:hover {
  cursor: pointer;
}

.restaurants_picture {
  height: 200px;
  width: 100%;
  border: 0px solid;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.fa-heart {
  font-size: 1.4rem;
  margin: 0px 30px 40px 15px;
}

/*Présentation des 4 menus*/
.return {
  color: black;
  font-size: 1.4rem;
  position: absolute;
  left: 5%;
}

.background_picture {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0 auto;
}

.background_picture.palette {
  background-image: url("../images/the_full_palette.jpg");
}

.background_picture.bastille {
  background-image: url("../images/bastille.jpg");
}

.background_picture.enchanted {
  background-image: url("../images/the_enchanted_plate.jpg");
}

.background_picture.gourmand {
  background-image: url("../images/le_gourmand.jpg");
}

.menu_container {
  background-color: #F5F5F6;
  width: 100%;
  padding: 5%;
  margin-top: -50px;
}

.name_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name_menu .heading {
  font-size: 1.8rem;
  font-family: "Shrikhand", Tahoma, Verdana, sans-serif;
}

.name_menu .far.fa-heart {
  position: relative;
  margin-bottom: 2px;
  font-size: 1.7rem;
  cursor: pointer;
}

.name_menu .far.fa-heart:hover {
  opacity: 0;
}

.title {
  font-size: 1.3rem;
  font-weight: normal;
  display: inline-block;
}

.title:after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background-color: #99E2D0;
}

.menu_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.menu_btn {
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */